
*{  box-sizing: border-box;}

.contenedor {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la pantalla */
}

header {
  /* Estilos para el encabezado */
  background-color:green; /* Ejemplo de color de fondo */
  padding: 20px;
  height: 6vw;
}

main {
  /* Estilos para el contenido principal */
  flex: 1; /* Permite que el contenido principal se expanda para llenar el espacio disponible */
  padding: 20px;
}

footer {
  height: 6vw;
  /* Estilos para el pie de página */
  background-color: #421dc6; /* Ejemplo de color de fondo */
  color: white; /* Ejemplo de color de texto */
  padding: 20px;
  text-align: center;
}
