
*{  box-sizing: border-box;
margin:0;
padding:0}

.contenedorXX {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la pantalla */
  border: 10px solid red;
}

header {
  /* Estilos para el encabezado */
  position:fixed;
  top:0;
  background-color:red; /* Ejemplo de color de fondo */
  height: 20vh;
}

main {
  /* Estilos para el contenido principal */
  /*vflex: 1; /* Permite que el contenido principal se expanda para llenar el espacio disponible */
  border: 10px solid cyan);
}

footer {
  position:fixed;
  bottom:0;
  
  height: 20vh;
  /* Estilos para el pie de página */
  background-color:green; /* Ejemplo de color de fondo */
  color: white; /* Ejemplo de color de texto */
  text-align: center;
}
