
*{  box-sizing: border-box;}

.contenedor {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la pantalla */
  border: 10px solid red;
}

header {
  /* Estilos para el encabezado */
  position:sticky;
  top:0;
  background-color:rgb(128, 0, 128); /* Ejemplo de color de fondo */
  height: 6vw;
}

main {
  /* Estilos para el contenido principal */
  flex: 1; /* Permite que el contenido principal se expanda para llenar el espacio disponible */
  border: 10px solid greenyellow;
}

footer {
  position:sticky;
  bottom:0;
  
  height: 6vw;
  /* Estilos para el pie de página */
  background-color: #421dc6; /* Ejemplo de color de fondo */
  color: white; /* Ejemplo de color de texto */
  text-align: center;
}

footer {
  position:sticky;
  bottom:0;
  
  height: 6vw;
  /* Estilos para el pie de página */
  background-color: #421dc6; /* Ejemplo de color de fondo */
  color: white; /* Ejemplo de color de texto */
  padding: 20px;
  text-align: center;
}